{
	admin off
}

http://localhost:5001

handle * {
	root * ./dist
	file_server
}

handle /api/config {
	respond `{
		"JSONBIN_ID": "{env.APP_JSONBIN_ID}",
		"JSONBIN_TOKEN": "{env.APP_JSONBIN_TOKEN}"
	}`
}

handle /api/command {
	method * GET # Tasmota is dog shit.
	rewrite * /cm?cmnd={query.cmnd}
	reverse_proxy * {env.APP_TASMOTA_ADDRESS}
}
