http://localhost:5001

handle * {
	root * ./dist
	file_server
}

handle /api/config {
	respond `{
		"JSONBIN_ID": "{env.APP_JSONBIN_ID}",
		"JSONBIN_TOKEN": "{env.APP_JSONBIN_TOKEN}"
	}`
}

handle /api/apply {
	rewrite * /?{query}
	reverse_proxy * {env.APP_TASMOTA_ADDRESS}
}
